<div class="tile btc-tile">
	<div class="tile-contents">
		<div class="title-area btc-title-area">
			<h2 class="btc-h1">Bitcoin</h2>
			<img src="/img/bitcoin-logo.png" />
		</div>
		<div class="content-area btc-content-area">
			<div class="content-holder btc-content-holder">
				<div class="btc-current">${last} (USD)</div>
				<div class="btc-daily-swing">(${low} - ${high})</div>
			</div>
		</div>
	</div>
</div>
