<div class="tile commodity-tile">
  <div class="tile-contents">
    <div class="title-area stock-title-area">
      <h1 class="stock-name">{{ name }}</h1>
      <div class="stock-symbol">[{{ symbol }}]</div>
    </div>
    <div class="content-area stock-content-area">
      <div class="content-holder stock-content-holder">
        <div class="stock-current">${{ "{:.2f}".format(latest_price) }}{{ currency }}</div>
        <div class="stock-change">{{ "{:+.2f}".format(change) }}</div>
        <div class="stock-purchase-change">{{ "{:+.2f}".format(change_from_purchase) }} from purchase</div>
        {% if outdated %}
          <div class="stock-timestamp">Outdated ({{ formatted_timestamp }})</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
