<div class="tile dow-tile">
	<div class="tile-contents">
		<div class="title-area dow-title-area">
			<img src="/img/dowjones-logo.png" />
		</div>
		<div class="content-area dow-content-area">
			<div class="content-holder dow-content-holder">
				<div class="dow-current">{close:.2f}</div>
				<div class="dow-change">{change:+.2f}</div>
			</div>
		</div>
	</div>
</div>
