<div class="tile dow-tile">
  <div class="tile-contents">
    <div class="title-area dow-title-area">
      <img src="/img/{{ logo }}" />
    </div>
    <div class="content-area dow-content-area">
      <div class="content-holder dow-content-holder">
        <div class="dow-current">{{ "{:.2f}".format(latest_price) }}</div>
        <div class="dow-change">{{ "{:+.2f}".format(change) }}</div>
        {% if outdated %}
          <div class="dow-timestamp">Outdated ({{ formatted_timestamp }})</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
