body {
  width: 85%;
  margin: auto;
  background: #eee;
}

.tile {
  display: inline-block;
  width: 16.6%;
  margin: 1.6%;
  border-radius: 0.5em;
  border: 1px #555 solid;
  box-sizing: border-box;
  background: linear-gradient(#a5e37d, #3e9f3e);
  padding-bottom: 16.6%;
  position: relative;
}

.tile-contents {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-area {
  width: 100%;
  height: 40%;
}

.content-area {
  position: relative;
  width: 100%;
  height: 60%;
}

.content-holder {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
}

.btc-title-area {
  margin-top: 1vw;
}

.btc-title-area img {
  width: 4.5vw;
  text-align: center;
  margin: auto;
  display: block;
  border: 4px #d77200 solid;
  border-radius: 100%;
}

.btc-h1 {
  width: 100%;
  text-align: center;
  font-size: 1.6vw;
  margin: 1.5vw 0 0.7vw 0;
}

.btc-current {
  text-align: center;
  font-size: 1.3vw;
}
.btc-daily-swing {
  text-align: center;
  font-size: 0.9vw;
}

.dow-title-area {
  position: relative;
}

.dow-title-area img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  box-sizing: border-box;
  padding: 3vw 1.5vw 0 1.5vw;
}

.dow-current {
  font-size: 1.5vw;
}

.dow-change {
  font-size: 1.2vw;
  font-style: italic;
}

.stock-tile {
  background: linear-gradient(#84dbe6, #3a75a7);
}

.stock-title-area {
  padding: 2vw;
  box-sizing: border-box;
  text-align: center;
}

.stock-name {
  margin: 0;
  font-size: 1.7vw;
}

.stock-symbol {
  font-size: 0.9vw;
}
.stock-current {
  font-size: 1.5vw;
  padding-top: 0.7vw;
}

.stock-change {
  font-style: italic;
  font-size: 0.9vw;
}

.stock-purchase-change {
  font-size: 0.9vw;
}

.stock-timestamp {
    font-style: italic;
    font-size: 0.7vw;
    padding-top: 0.5vw;
}

.commodity-tile {
  background: linear-gradient(#feda52, #835428);
}
